.global-panel{
  color:#fff;
  position: relative;
  .logo-box{
    padding: 20px 0;
  }
  .nav-box{
    .global-panel-item{
      &:hover{
        background: #369dd5;
      }
    }
    .global-panel-item.active{
      background: #369dd5;
    }
  }
  .info-box{
    position: absolute;
    bottom: 80px;
    width:100%;
    .avatar{
      display: inline-block;
      width: 36px;
      height:36px;
      line-height: 36px;
      background: #369dd5;
      border-radius: 2px;
      font-size: 28px;
    }
  }
  .exit-box{
    position: absolute;
    bottom: 10px;
    width:100%;
    &:hover{
      .dropDown{
        display: block;
      }
    }
    .dropDown{
      display: none;
      position: absolute;
      top:-80px;
      width:120px;
      left:30px;
      text-align: left;
      background: #fff;
      color:#333;
      border: 1px solid #999;
      border-radius: 3px;
      z-index: 10;
      .dropItem{
        line-height: 36px;
        &:hover{
          background: #eee;
        }
      }
      i{
        padding-left:20px;
        font-size: 24px;
      }
    }
  }
}
.global-panel-item{
  display: block;
  padding:6px 0;
  text-decoration: none;
  outline: none;
  position: relative;
  text-align: center;
  color:#fff;
  &:hover{color:#fff}
  i{
    font-size: 32px;
  }
  div{
    font-size: 14px;
  }
}

