$blue-base:#2a7ead;
$blue-light:#6aabce;
html,body,#app{
    width: 100%;
    height:100%;
}
.global-panel{
  width:80px;
  @media (min-width:1440px){
    width:100px;
  }
  height:100%;
  background-color: $blue-base;
}
.page-container{
  height: 100%;
  background: #f1f5fb;
}
.sub-panel{
  position: relative;
  height:100%;
  background-color: #369dd5;
  float: left;
  @media (min-width:1440px) {
    width:300px;
  }
}
.global-detail-area{
  height:100%;
  background: #e7edf7;
  width:100%;
  padding-left: 300px;
}
.left{float: left;}
.right{float:right;}