.sub-panel-content{
  .thread-item{
    padding: 9px 5% 8px;
    display: block;
    position: relative;
    i{
      color:#fff;

    }
    h3{
      color:#fff;
      margin: 8px 0 0 5px;
      font-size: 1em;
      line-height: 1em;
    }
    &:hover{
      background: #6aabce;
    }
  }
  .thread-item.active{
    background: #6aabce;
  }
  .avator{
    float: left;
    margin-right: 8px;
    position: relative;
  }
}