.task-page{
  height: 100%;
  .task-title{
    width:100%;
    height: 5%;
    h2{
      width:100%;
      text-align: center
    }
  } 
  .task-body{
    height: 90%;
    overflow: auto;
    .left,.right{
      float: left;
    }
    .left{
      height: 100%;
      width:70%;
      box-sizing: border-box;
      border: 3px solid #d3e7f4;
    }
    .right{
      width:25%;
      margin-left: 5%;
      .box{
        width: 100%;
        box-sizing: border-box;
        border: 3px solid #d3e7f4;
        margin-bottom: 20px;
        span{
          display: inline;
        }
      }
      .handleButton{
        button{
          width: 60px;
          margin: 0 10px;
        }
      }
      .historyDucument{
        .history{
          text-align: center;
          font-weight: 600;
          background: #d3e7f4;
        }
        button{
          width: 60px;
          margin-left: 20px;
        }
      }
    }
    span{
      display: inline-block;
      width: 100%;
      background: #d3e7f4;
    }
    textarea{
      height: 80px;
      width:100%;
      resize: none;
      overflow-y:auto
    }
    .translate{
      height: 85%;
    }
    .keyWord{
      height: 10%;
    }
    .review-content{
      height: 40%;
    }
  }
}
