.userMgt-list{
  position: relative;
  // padding-left: 200px;
  // @media (min-width:1440px) {
  //   padding-left:300px;
  // }
  table{width: 100%;}
  caption{
    text-align: center;
    font-size: 24px;
    font-family: "微软雅黑";
    margin-bottom: 0;
    button{
      width: 60px;
      height:28px;
      font-size: 16px;
      line-height: 25px;
      color:#333;
      border-radius: 3px;
      margin: 0 30px;
      outline:none;
    }
  }
  .search-label{
    display: inline-block;
    margin-left: 30px;
  }
  .attention{color:#889988}
  tr{
    height:34px;
    td:first-child{
      max-width: 15px;
      font-weight: 800
    }
  }
  tr:nth-child(odd){background-color: #edf5fa;}
}
#subjectList,#studentMgt,#teacherMgt,#adminMgt{
  .ant-input-search{
    width: 20%;
    display: inline-block;
  }
} 